<%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>技工ノート</h1>
      <p>ログインか新規登録を行なってください</p>
  </div>
</div>