<%= stylesheet_link_tag 'supplies_archives', media: 'all', 'data-turbo-track': 'reload' %>

<h2 class="archive_supplies_year">年度別アーカイブ一覧</h2>
<div class="archive_supplies_year_subtitle">Yearly Archive List</div>

<div class="archive-list">
  <% @archives.each do |archive| %>
    <div class="archive-item">
      <%= link_to "#{archive.year}年の物品データ", show_archive_supply_path(archive), class: "archive-link" %>
    </div>
  <% end %>
</div>