@import "top";
@import "header";
@import "footer";
@import "login";
@import "signup";
@import "passwords";
@import "patients_index";
@import "patients_new";
@import "patients_show";
@import "patients_edit";
@import "patients_search";

/*
 *= require lightbox2/dist/css/lightbox
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

/* app/assets/stylesheets/application.css */
  
  .alert-notice {
    background-color: #dff0d8;
    color: #3c763d;
  }
  
  .alert-alert {
    background-color: #f2dede;
    color: #a94442;
  }
  
/* サイドバーのスタイル */
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px; /* 初期状態で非表示にするためにオフスクリーンに配置 */
  height: 100%;
  background-color: #333;
  color: white;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 1001;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

/* サイドバーボタンのスタイル */
#sidebar-toggle {
  background-color: #8645f0;
  color: white;
  border: none;
  padding: 0.1px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1002;
}

/* サイドバーが表示されたときのスタイル */
.sidebar-open {
  left: 0; /* サイドバーを画面内に表示 */
}

/* サイドバーの閉じるボタンのスタイル */
#sidebar-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-info {
  background-color: #5bc0de;
}

.btn:hover {
  background-color: #0056b3;
}



.tooth-diagram-font {
  font-size: 0.7rem;
}
