@import "top";
@import "header";
@import "footer";
@import "login";
@import "signup";
@import "passwords";
@import "patients_index";
@import "patients_new";
@import "patients_show";
@import "patients_edit";
@import "patients_search";

/*
 *= require lightbox2/dist/css/lightbox
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

/* app/assets/stylesheets/application.css */
body {
  font-family: 'Noto Sans JP', 'Noto Sans Symbols', 'Symbola', 'Segoe UI Symbol', Arial, sans-serif;
}

  .alert-notice {
    background-color: #dff0d8;
    color: #3c763d;
  }
  
  .alert-alert {
    background-color: #f2dede;
    color: #a94442;
  }
  
/* サイドバーのスタイル */
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px; /* 初期状態で非表示にするためにオフスクリーンに配置 */
  height: 100%;
  background-color: #333;
  color: white;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 1001;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

/* サイドバーボタンのスタイル */
#sidebar-toggle {
  background-color: #8645f0;
  color: white;
  border: none;
  padding: 0.1px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1002;
}

/* サイドバーが表示されたときのスタイル */
.sidebar-open {
  left: 0; /* サイドバーを画面内に表示 */
}

/* サイドバーの閉じるボタンのスタイル */
#sidebar-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-info {
  background-color: #5bc0de;
}

.btn:hover {
  background-color: #0056b3;
}

.tooth-diagram-font {
  font-size: 0.7rem;
}

main {
  .flash-window {
    height: 50px;
    padding: 10px;
    color: white;
    background: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s 0s ease;
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;

    p {
      color: white;

      span {
        margin-left: 1vw;
        color: white;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &.hidden {
      opacity: 0;
      bottom: -50px;
    }

     /* notice (緑色) のスタイル */
     &.flash-notice {
      background-color: #16b83c; /* 緑色 */
    }

    /* alert (赤色) のスタイル */
    &.flash-alert {
      background-color: #dc3545; /* 赤色 */
    }
  }
}

.breadcrumbs {
  padding-left: 25px;
  padding-top: 15px;
  top: 55px;
  height: 3rem;
  width: 100%;
  background-color: white;
  position: fixed;
}

main {
  margin-top: 4rem; 
}

/* ページネーションの横並び設定 */
.pagination {
  display: flex;
  list-style: none; /* リストのデフォルトスタイルを無効化 */
  padding: 0;
  margin-bottom: 2rem;
}

.pagination li {
  margin: 0 5px; /* 各ページ番号に間隔を追加 */
}

.pagination a,
.pagination .current {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid #ddd;
  color: #007bff;
}

.pagination .current {
  background-color: #007bff;
  color: white;
}

.pagination a:hover {
  background-color: #f0f0f0;
}