* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* 全要素のボックスサイズ設定 */
}

.header {
  background-color: #033465; /* 任意の背景色を指定 */
  padding: 0.5rem 1rem; /* パディングを調整 */
  position: fixed; /* ヘッダーを固定 */
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* ヘッダーの固定高さ */
  width: 100%;
  z-index: 1000; /* 他の要素より前に表示 */
  color: #ffffff; /* ヘッダー内のテキスト色を白に設定 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ヘッダーの高さ分の余白をコンテンツに追加 */
.main-content {
  margin-top: 60px; /* ヘッダーの高さに合わせて調整 */
}

.navbar-item {
  display: inline-block;
  margin-left: 1rem;
  color: #ffffff;
  padding: 0.3rem 1rem;
  border: none;
  font: inherit;
  cursor: pointer;
}

.navbar-item:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logout-button {
  padding: 0.2rem 1rem;
}

.navbar-item, a {
  text-decoration: none;
}

/* レスポンシブデザイン: スマートフォン用 */
@media screen and (max-width: 768px) {
  .header {
    height: auto; /* 高さを自動調整 */
    padding: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-item {
    margin-left: 1rem;
    padding: 0.5rem;
  }

  .navbar-end {
    margin-left: auto;
    display: flex;
    justify-content: flex-end; /* 右寄せ */
    width: auto;
  }

  /* モバイルでもメインコンテンツのマージンを確保 */
  .main-content {
    margin-top: 100px;
  }
}