.model_new-background {
    background-color: #f8f9fa;

  }
  
  .form-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .general-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .patient_model_english {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400; /* フォントの太さを調整 */
    margin-bottom: 20px; /* テーブルとの余白を追加 */
    color: #555;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* テキストに影をつける */
    letter-spacing: 0.15em; /* 文字の間隔を広げる */
    text-transform: uppercase; /* すべて大文字にする */
    font-family: 'Roboto', sans-serif; /* スタイリッシュなフォントを適用 */
    background: linear-gradient(90deg, rgba(29, 78, 216, 1) 0%, rgba(219, 39, 119, 1) 100%);
    -webkit-background-clip: text;
    color: transparent; /* 背景グラデーションで文字の色を表現 */
    background-clip: text; /* WebKit以外のブラウザでは無効 */
  }