.passwords-container {
    margin: 0 auto; /* 水平方向に中央配置 */
    border-radius: 10px; /* 角を丸くする */
    box-shadow: 0 0 10px rgba(251, 249, 249, 0.1); /* 影をつける */
}

/* 入力フィールドのサイズを小さくする */
.form-control {
    width: 50%; /* 入力フィールドの幅を80%に設定 */
    padding: 10px 10px; /* パディングを減らしてフィールドの高さを調整 */
    font-size: 0.9rem; /* フォントサイズを少し小さくする */
}

.actions .btn {
    padding: 10px 10px; /* ボタンのパディングを減らして小さくする */
    width: 50%;
}

.text-center {
    margin-bottom: 4rem;
    margin-top: 80px;
}

.flex-container {
    justify-content: space-between; /* リンク間に均等なスペースを配置 */
  }

.passwords-container h2 {
    margin-bottom: 3rem; // 下のマージンを10pxに設定して間隔を狭くする
    white-space: nowrap;
    color: rgb(37, 162, 162);  
}
  
.passwords-container p {
    margin-top: 0; // 上のマージンを0に設定して間隔を狭くする
    font-size: 0.9rem;
    white-space: nowrap; /* テキストを改行せずに一行で表示する */
    text-overflow: ellipsis; /* テキストが溢れた場合に省略記号を表示 */

}

.passwords-background {
    background-image: url('passwords_image.jpg');
    background-size: cover; /* 画像を画面全体にフィットさせる */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    height: 100vh; /* 画面全体の高さを確保 */
    margin: 0;
    display: flex; /* コンテナを中央揃えにするためにフレックスボックスを使用 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    padding: 0; /* 外側の余白をリセット */
}

.passwords-container .form-group, .passwords-container .actions {
    display: flex; /* フォームグループをフレックスボックスにする */
    flex-direction: column; /* 子要素を縦に並べる */
    align-items: center; /* 子要素を中央揃えにする */
    width: 100%; /* フォームグループの幅をコンテナに合わせる */
    margin-bottom: 1rem; /* 下部のマージンを設定 */
}

.form-group label {
    width: 50%; /* ラベルの幅を100%に設定 */
}

