.actions {
    display: flex;
    justify-content: center; /* ボタンを中央に配置 */
    margin-top: 20px; /* 必要に応じて上部に余白を追加 */
  }

h3 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 3rem;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* テキストに影をつける */
    letter-spacing: 0.15em; /* 文字の間隔を広げる */
    text-transform: uppercase; /* すべて大文字にする */
    font-family: 'Roboto', sans-serif; /* スタイリッシュなフォントを適用 */
}

.label-text {
  font-size: 1rem;
  font-weight: bold;
}


