.actions {
    display: flex;
    justify-content: center; /* ボタンを中央に配置 */
    margin-top: 20px; /* 必要に応じて上部に余白を追加 */
  }

h3 {
    margin-top: 5rem;
    margin-bottom: 4rem;
    margin-left: 8rem;
    font-size: 2rem;
}


