/* 共通のスタイル */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.patient-list {
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-y: auto;
  max-height: 90vh;
}

table {
  width: 100%;
  max-width: 89rem;
  border-collapse: collapse;
  border: 1.4px solid #333;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 2px solid #c6c4c4;
  font-size: 14px;
  overflow: hidden;
}

th {
  background-color: #f4f4f4;
  font-size: 12px;
  text-align: center;
}

/* 名前のセルに対するスタイル調整 */
td {
  overflow: hidden; /* 溢れたテキストを非表示に */
  text-overflow: ellipsis; /* 溢れたテキストに省略記号を表示 */
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin-top: 3rem; /* デフォルトのマージンをリセット */
}

.patient-list-english {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  color: #555;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, rgba(29, 78, 216, 1) 0%, rgba(219, 39, 119, 1) 100%);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}

.patients-btn-archive {
  margin-bottom: 2rem;
}

.pagination-container {
  margin-bottom: 5rem;
}

/* スマートフォン用のスタイル調整 */
@media (max-width: 768px) {
  .patient-list {
      padding-top: 50px;
      padding-left: 1rem;
      padding-right: 1rem;
  }

  h1 {
      font-size: 2rem;
      margin-top: 20px; /* スマートフォン時の余白を追加 */
  }

  .patient-list-english {
      font-size: 1rem;
  }

  table {
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
  }

  th, td {
      font-size: 12px;
  }

  .pagination {
      flex-wrap: wrap;
  }

  .patient_archive-button {
      margin-left: 0;
      text-align: center;
  }

  /* ページネーションのスタイル */
  .pagination {
    margin-bottom: 4rem; /* 下に余白を追加 */
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.5rem;
      margin-top: 20px; /* スマートフォン時の余白を追加 */
  }

  .patient-list-english {
      font-size: 0.9rem;
  }

  th, td {
      font-size: 10px;
  }

  .check-column input[type="checkbox"],
  .delivery-column input[type="checkbox"] {
      width: 15px;
      height: 15px;
  }
}