.registration-container {
    display: flex; /* Flexbox を有効化 */
    flex-direction: column; /* 子要素を垂直方向に配置 */
    align-items: center; /* 水平中央揃え */
    max-width: 400px; /* コンテナの最大幅 */
    margin: 0 auto; /* 水平方向に中央配置 */
    padding: 2rem;
    border-radius: 10px; /* 角を丸くする */
    box-shadow: 0 0 10px rgba(251, 249, 249, 0.1); /* 影をつける */
}

.text-center {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 80px;
}

.form-control, .btn {
    width: 100%; /* 全ての入力フィールドとボタンの幅を16remに設定 */
    padding: 0.8rem 1.2rem; /* パディングを調整 */
    border-radius: 4px; /* 角を丸くする */
    border: 1px solid #ccc; /* 境界線を設定 */
    box-sizing: border-box; /* ボックスサイズをborder-boxに設定 */
    margin-bottom: 1rem; /* 下部のマージンを設定 */
}

.form-group, .field {
    width: 100%; /* コンテナの幅に合わせる */
    flex-direction: column; /* 要素を縦に積み重ねる */
    margin-bottom: auto;
}

.actions {
    width: 100%; /* コンテナの幅に合わせる */
    margin-bottom: 20px;
}

.btn {
    background-color: #007bff; /* ボタンの背景色を指定 */
    color: white; /* テキストの色を白に */
    border: none; /* ボーダーを無くす */
    cursor: pointer; /* カーソルをポインターに */
}
  
.btn-block {
    width: 100%;
}


.form-check {
    margin-bottom: 2rem; /* チェックボックス下のマージン追加 */
}


.auth-links {
    display: flex;
    justify-content: space-between; /* 項目の間に等間隔のスペースを作る */
}

.registration-background {
    background-image: url('registrations_image.jpg');
    background-size: cover; /* 画像を画面全体にフィットさせる */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    height: 100vh; /* 画面全体の高さを確保 */
    margin: 0;
  }

h2 {
    color:  rgb(6, 72, 152);
}
  