.archive_supplies_year {
    text-align: center;
    font-size: 3rem;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* テキストに影をつける */
    letter-spacing: 0.15em; /* 文字の間隔を広げる */
    text-transform: uppercase; /* すべて大文字にする */
    font-family: 'Roboto', sans-serif; /* スタイリッシュなフォントを適用 */
    margin-top: 6rem;
}
  
  .archive-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .archive-item {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 2rem;
  }
  
  .archive-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .archive-link {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .archive-link:hover {
    text-decoration: underline;
  }

  .archive_supplies_year_subtitle {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #555;
    background: linear-gradient(90deg, rgba(29, 78, 216, 1) 0%, rgba(219, 39, 119, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
  }
  